body{
    background-image: url(arMap/assets/output-onlinepngtools.png);
    font-family: Arial, Helvetica, sans-serif;
}

div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    margin-top: 100px;
    background-color: rgb(197, 171, 110);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.buttonLink {
    margin-top: 200px;
    background-color: rgb(2, 15, 52);
    color: white;
    padding: 25px;
    margin-top: 100px;
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
}

.creatures a{
    margin-top: 50px;
}

video{
    margin-top: 50px;
    margin-bottom: 50px;
}

.goBack{
    background-color: rgb(2, 15, 52);
    color: white;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}